<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Express TODO</title>
</head>
<body>
  
    <a href = '/skills'>ALL SKILLS</a>
    <p>this is the type  <%= skill %></p>

  <a href="/skills/new">Add To-Skill</a>

    
  </body>
</html>